<header>
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <nav>
        <ul>
            <li><a routerLink="/" routerLinkActive="active">Teilnehmerliste</a></li>
            <li><a routerLink="/management" routerLinkActive="active">Verwaltung</a></li>
        </ul>
    </nav>
</header>
<section id="main">
    <router-outlet></router-outlet>
</section>
<footer>
    <ul>
        <li><a href="https://icons8.com">Icon pack by Icons8</a></li>
        <li><a href="">Copyright by r4smus</a></li>
    </ul>
</footer>