<h3>Neues Mitglied erstellen</h3>
<div ng-controller="create-member-controller">
        <div>
            <label for="inputFirstName">Vorname</label>
            <input id="inputFirstName" type="text" name="input" [(ngModel)]="newMember.firstName" required>
        </div>
        <div>
            <label for="inputLastName">Nachname</label>
            <input id="inputLastName" type="text" name="input" [(ngModel)]="newMember.lastName" required>
        </div>
        <div>
            <label for="inputMemberType">Typ</label>
            <select  id="inputMemberType"
                    [(ngModel)]="selectedType">
                    <option value="{{TYPE_TRAINER}}">{{TYPE_TRAINER}}</option>
                    <option value="{{TYPE_PARTICIPANT}}">{{TYPE_PARTICIPANT}}</option>
            </select>
        </div>
        <span>
        <button (click)="save()" routerLink="/management" routerLinkActive="active">Speichern</button>
        <button routerLink="/management" routerLinkActive="active">Abbrechen</button>
        </span>
        <p>{{firstName}} {{lastName}}</p>
        <p>{{selectedType}}</p>
</div>