/* You can add global styles to this file, and also import other style files */

body {
    font-family: verdana;
    letter-spacing: 0.1em;
    color: #606060;
    background: #ffffff;
    padding: 5px;
}

h1 {
    text-indent: -10000px;
    background: url(logo.png) no-repeat left bottom;
    background-size: 100%;
    width: 150px;
    height: 50px;
    margin: 0px;
}

h2 {
    font-weight: bold;
    font-size: medium;
    color: #423535;
}


/* NAVBAR */

nav {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
}

nav ul {
    padding: 0 !important;
    background: #B02C2A;
    display: flex;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    margin-top: 0;
}

nav li {
    flex-basis: 0;
    flex-grow: 1;
    list-style-type: none;
}

nav a {
    text-align: center;
    padding: 7px 0;
    color: #eee;
    display: block;
    text-decoration: none;
    font-size: x-small;
}

nav a:hover {
    background: #e86a6a;
    cursor: pointer;
}