#training-list {
    padding: 0px;
}

#training-list li {
    list-style-type: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    background: #ffffff;
    padding: 10px;
}

#training-list li img {
    width: 20px;
    height: 20px;
    float: right;
    margin-left: 20px;
}

#training-list li img:hover {
    background: #f4dcdc;
    cursor: pointer;
}