.trainerBox {
    float: left;
    margin-right: 70px;
}

.participantBox {
    float: left;
}

ul {
    padding: 0px;
}

ul li {
    width: 270px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background: white;
    list-style-type: none;
    margin-bottom: 10px;
    padding: 10px;
}

.hideError {
    display: none;
}

.showError {
    display: block;
    color: red;
    font-weight: bold;
    font-size: small;
    margin: 10px;
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}