<form>
  <div class="wrapper" ng-app="">

    <div ng-click="toggle = ! toggle" class="container" ng-class="{'special' : toggle }">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eligendi corrupti dicta reprehenderit praesentium voluptatem. Architecto, ad accusamus, distinctio, quo sapiente tempora eius cupiditate labore vitae asperiores dolores sint quam maiores at dolore deserunt deleniti est earum, praesentium aut commodi! Asperiores odio, a dolorum sit autem eum.
    </div>
  </div>
</form>
