.chooseBox {
    width: 283px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 2px;
    border-radius: 15px;
    background: white;
}

.chooseBox h4 {
    background: #B02C2A;
    padding: 15px;
    border-top-style: solid;
    border-width: 2px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
}

.chooseBox li {
    list-style-type: none;
    margin-bottom: 10px;
}

.chooseBox li div {
    background: #BBDEFB;
    border-radius: 5px;
    padding: 5px;
    max-width: 195px;
}

.chooseBox li div:hover {
    background: #43A047;
    cursor: pointer;
    color: white;
}

.dateRow {
    margin: 15px 15px 15px 43px;
}

.dateRow input {
    max-width: 100px;
    height: 20px;
}

.buttonRow {
    margin: 20px;
}

.buttonRow img {
    margin-right: 20px;
}

.buttonRow img:hover {
    cursor: pointer;
}