.dataColumnOne {
    float: left;
    margin-right: 50px;
}

.dataColumnTwo {
    float: left;
}

.chooseBox {
    width: 283px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 2px;
    border-radius: 15px;
    background: white;
}

.chooseBox h4 {
    background: #B02C2A;
    padding: 15px;
    border-top-style: solid;
    border-width: 2px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
}

.chooseBox li {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 5px;
}

.dateRow {
    margin: 15px 15px 15px 43px;
}

.dateRow input {
    height: 20px;
}

.chooseBox li input {
    display: none;
    background: #BBDEFB;
}

.chooseBox li input:hover+label {
    cursor: pointer;
    background: #43A047;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.chooseBox li input:checked+label {
    background: #43A047;
    color: white;
    padding: 5px;
    border-radius: 5px;
}