/* You can add global styles to this file, and also import other style files */

header {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
}

body {
    font-family: verdana;
    letter-spacing: 0.1em;
    color: #606060;
    background: #ffffff;
    padding: 5px;
}

h1 {
    text-indent: -10000px;
    background: url(logo.png) no-repeat left bottom;
    background-size: 100%;
    width: 150px;
    height: 50px;
    margin: 0px;
}

h2 {
    font-weight: bold;
    font-size: x-large;
    color: #423535;
}

.clearer {
    clear: both;
}


/* NAVBAR */

nav ul {
    padding: 0 !important;
    background: #B02C2A;
    display: flex;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    margin-top: 0;
}

nav li {
    flex-basis: 0;
    flex-grow: 1;
    list-style-type: none;
}

nav a {
    text-align: center;
    padding: 10px 0;
    color: #eee;
    display: block;
    text-decoration: none;
    font-size: large;
}

nav a:hover {
    background: #e86a6a;
    cursor: pointer;
}

nav .navItemActive {
    background: #E86A6A;
}


/* MAIN */

#main {
    background: #f4dcdc;
    padding: 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    width: 100%;
    max-width: 740px;
    box-sizing: border-box;
    margin: 0 auto
}

.buttonRow {
    margin: 20px;
}

.buttonRow a {
    margin-right: 20px;
    text-decoration: none;
}

.buttonRow img:hover {
    cursor: pointer;
}

.hoverButton {
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 20px;
    margin-top: -5px;
}

.hoverButton:hover {
    background: #f4dcdc;
    cursor: pointer;
}


/* FOOTER */

footer {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
    margin-top: 18px;
}

footer ul {
    padding: 0 !important;
    background: #B02C2A;
    display: flex;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    margin-top: 0;
}

footer li {
    flex-basis: 0;
    flex-grow: 1;
    list-style-type: none;
}

footer a {
    text-align: center;
    padding: 7px 0;
    color: #eee;
    display: block;
    text-decoration: none;
    font-size: x-small;
}